.holders {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr max-content 120px 1fr;
}

.checkBtn {
    background-color: rgba(0, 0, 0, 0.79);
    color: white;
    font-family: inherit;
    border-radius: 5px;
    border: 0;
    padding: 15px 20px;
    align-self: center;
    justify-self: center;
}

.checkBtn:active {
    transform: scale(0.9);
}

.checkBtn:focus {
    outline: 0;
}

.box {
    width: 110px;
    height: 50px;
}

@media (max-width: 600px) {
    .box {
        width: 60px;
        height: 50px;
    }

    .holders {
        grid-template-columns: 1fr max-content 90px 1fr;
    }
}

@media (max-width: 420px) {
    .checkBtn {
        padding: 10px 15px;
    }
}
