.holders {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr max-content 120px 1fr;
}

.checkBtn {
    background-color: rgba(0, 0, 0, 0.79);
    color: white;
    /* background-image: linear-gradient(
        var(--color1),
        var(--color4),
        var(--color6)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    */
    border-radius: 5px;
    border: 0;
    padding: 15px 20px;
    align-self: center;
    justify-self: center;
}

.checkBtn:active {
    transform: scale(0.9);
}

.checkBtn:focus {
    outline: 0;
}

.box {
    width: 110px;
    height: 50px;
}

@media (max-width: 600px) {
    .holders {
        max-width: 100vw;
        width: 70vw;
        display: flex;
        margin: auto;
        position: relative;
    }

    .checkBtn {
        padding: 10px 10px;
    }

    .box {
        width: 60px;
        height: 50px;
    }
}
