.holder {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
}

.exact {
    background-color: black;
}

.contain {
    background-color: white;
}

.not-contain {
    background-color: red;
}

.dontShow {
    display: none;
}