.holder {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 3px;
}

.exact {
    background-color: black;
}

.contain {
    background-color: white;
}

.not-contain {
    background-color: red;
}

.dontShow {
    display: none;
}

@media (max-width: 600px) {
    .holder {
        margin: 1px;
    }
}
