.hintHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 110px;
    height: 50px;
}

@media (max-width: 600px) {
    .hintHolder {
        display: flex;
        width: 60px;
        height: 50px;
    }
}
