.hintHolder {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    width: 80px;
    height: 80px;
    position: relative;
    align-self: center;
    justify-self: center;
}

@media (max-width: 600px) {
    .hintHolder {
        display: flex;
        width: 60px;
        height: 50px;
    }
}
