* {
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 30vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.holders {
    width: 30vw;
    display: flex;
    margin: auto;
}

@media (max-width: 600px) {
    .holders {
        width: 70vw;
    }
}
