* {
    box-sizing: border-box;
}

.holders {
    width: 30vw;
    min-width: max-content;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

@media (max-width: 600px) {
    .holders {
        width: 70vw;
    }
}
