.holder {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.exact {
    background-color: black;
}

.contain {
    background-color: white;
}

.not-contain {
    background-color: red;
}
