.btn {
  background-color: rgba(0, 0, 0, 0.79);
  color: white;
  font-size: 15px;
  font-family: inherit;
  border-radius: 10px;
  border: 0;
  padding: 10px 30px;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.btn:focus {
  transform: scale(0.9);
}
